{% block page_footer %}
<br><br><br>
<br><br><br>


        <!--</div>-->
        <!-- /#page-content-wrapper -->
    <!--</div>-->
    <!-- /#wrapper -->
    <!-- jQuery -->

    <div class="footer navbar-fixed-bottom">


            <div class="row">
                <div class="col-lg-12" >
                    &copy;  {{ "now"|date("Y") }} WayneWorks Marine, LLC. | 1-800-348-2628 (toll free U.S. & Canada) | +1-706-993-2531
                </div>
            </div>
        </div>



    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    <script src="{{asset('js/sidebar_menu.js')}}"></script>
    <script src="{{asset('js/moment.js')}}"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    
    <link rel="stylesheet" type="text/css" href="{{asset('css/responsiveslides.css')}}" />
    <script type="text/javascript" src="{{asset('js/responsiveslides.js')}}"></script>

    <script>
    $('input[name="daterange"]').daterangepicker(
      {
        "dateLimit": {
          "days": 4
        },
        "minDate": "{{ "now"|date_modify("+3 day")|date("m/d/Y") }}",
        "maxDate": "{{ "now"|date_modify("+97 day")|date("m/d/Y") }}"

      }
    );
    </script>

   <script>

   $(function() {
      $( "#start_date" ).datepicker({ 
         dateFormat: "yy-mm-dd",
         changeMonth: true,
         changeYear: true,
         minDate: 0, 
         maxDate: "36M"

      });


      $( "#dob" ).datepicker({ 
         dateFormat: "yy-mm-dd",
         changeMonth: true,
         changeYear: true,
         yearRange: "-100:+0"
         
      });

      $( "#payment_date" ).datepicker({ 
         dateFormat: "yy-mm-dd",
         changeMonth: true,
         changeYear: true,
     maxDate: '0',
         yearRange: "-2:+0"
         
      });

   });


    </script>


<!--{if $logged ne "yes"}-->
<script>
$(document).ready(function(){
  $("#wrapper").toggleClass("toggled-2");
  $('#menu ul').hide();
});
</script>
<!--{/if}-->


 


</body>
</html>
{% endblock %}